.header {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 0 0;
  display: block;
  position: relative;
}

.navitems {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 80px;
  color: white;
  font-size: 1.2em;
}

.logo {
  grid-column: 1/2;
  margin: auto;
  padding: 2% 10% 2% 10%;
  border-radius: 20px;
  border: 2px solid white;
}

.navlinks1 {
  grid-column-start: 4;
  margin: auto;

  padding: 2% 10% 2% 10%;
  border-radius: 20px;
  border: 2px solid white;
}
.navlinks2 {
  grid-column-start: 5;
  margin: auto;

  padding: 2% 10% 2% 10%;
  border-radius: 20px;
  border: 2px solid white;
}

@media screen and (max-width: 600px) {
  .navitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-gap: 20px;
    color: white;
    font-size: 1.2em;
    padding: 0 20px 0 20px;
  }
}
